body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#expenses {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#expense-list {
    flex: 1;
    margin-right: 10px;
}

#expenses-list {
    list-style: none;
    padding: 0;
}

#expenses-list li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

#expense-form {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
#group-form {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

#expense-form input {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

#add-expense {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-expense:hover {
    background-color: #0056b3;
}

#results {
    flex: 1;
    margin: 20px;
}

#summary {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
#group-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
