{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Expense Splitter</title>
</head>
<body>
    <h1>Expense Splitter</h1>
    <div id="expenses">
        <div id="expense-list">
            <h2>Expenses</h2>
            <ul id="expenses-list">
                <!-- Expense items will be added here dynamically using JavaScript -->

            </ul>
        </div>
        <div id="expense-form">
            <h2>Add Expense</h2>
            <input type="text" id="expense-name" placeholder="Expense Name">
            <input type="number" id="expense-amount" placeholder="Amount">
            <input type="text" id="payer" placeholder="Payer Name">
            <button id="add-expense">Add Expense</button>
        </div>
       
    </div>
    <div id="group-section">
    <div id="results">
        <h2>Expense Summary</h2>
        <div id="summary">
            <!-- Expense summary will be displayed here dynamically using JavaScript -->
        </div>
        <h2>Expense Breakdown</h2>
        <div id="breakdown">
            <!-- Detailed expense breakdown will be displayed here dynamically using JavaScript -->
        </div>
         
    </div>
    <div id="expense-form">
            <h2>Create Group</h2>
            <input type="text" id="expense-name" placeholder="Group Name">
            <input type="number" id="expense-amount" placeholder="Total Participants">
            <input type="text" id="payer" placeholder="Participants name">
            <button id="add-expense">Create Group</button>
        </div>
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

