<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <center>
    <div class="container" style="border: 2px solid; width: 40%; margin-top: 170px; background-color: #f0f0f0">
        <h2>Login</h2>
        <form method="post" action="/login/">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <br><br>
            <button type="submit" style="background: blue; color:white">Login</button>
        </form>
        <p>Don't have an account? <a href="/register/">Register</a></p>
    </div>
</center>
</body>
</html>
